body {
    background: #f3f3f3;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.App {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 40%;
    max-width: 100%;
    text-align: center;
    margin: 20px auto;
}

h1 {
    font-size: x-large;
    text-align: center;
    color: #327c35;
}

fieldset {
    border: none;
}

.onebox {
    display: inline;

}

input {

    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
    margin: 5px;
}

p {
    margin-bottom: 0;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline;
    width: auto;
    margin-right: 5px;
}

select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    font-size: 15px;
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

.signUpBtn {
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    margin-top: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4caf50;
    width: 40%;
    font-size: 16px;
}

textarea {
    resize: none;
    width: 98%;
    min-height: 100px;
    max-height: 150px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .App {
        width: 95%;
        padding: 10px;
    }

    button {
        width: 80%;
    }

    textarea {
        width: 96%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: large;
    }

    label {
        font-size: 14px;
    }

    button {
        width: 100%;
    }

    textarea {
        width: 94%;
    }
}